{% extends "base.html" %}

{% block content %}

<div class="container-fluid" id="header-ct">
	<span>
		<a href="https://draftwix.com">
			<img id="scale" src="https://draftwix.com/assets/img/logo.png" srcset="https://draftwix.com/assets/img/logo.png" alt="Necromancers">
		</a>
    </span>
    <hr>
    <div id="whatvideotop">
        <h1 style="color:black">.</h1>
    </div>
    <br>
    <br>
        <div class="row">
        <div class="col-lg-6" style="text-align:left;">
            <h1 style="color:yellow; padding-bottom:10px">
                <u>Getting started</u>
            </h1>
            <h3>- Take a video of you playing Mobile Legends: Bang Bang.</h3>
            <h3>- Make sure that the shoulders, hands are visible and the player is front-facing the camera.</h3>
            <br>
            <br>
            <h4>More information of what video to upload press the button below.</h4>
            <form method="get" action="/whatvideo#example">
                <button type="submit" style="color:black"> What to upload</button>
            </form>
        </div>
        <div class="col-lg-5" style="text-align:right;">
            <img src="static/instruction1.gif" height="500" width="700"/>
            <br>
            <br>
        </div>
    </div>
     <form method="get" action="/whatvideo#how">
            <button type="submit" style="color:black">How to upload</button>
        </form>
    <br><br><br><br><br><br><br><br>

     <div id="how">
        <h1 style="color:black">.</h1>
    </div>
    <div class="row">
        <div class="col-lg-6" style="text-align:left;">
            <h1 style="color:yellow; padding-bottom:10px">
                <u>How to upload video</u>
            </h1>
            <h3>- Select your best video.</h3>
            <h3>- Upload it to our website.</h3>
            <h3>- Get free tickets when you tell us your fight timing in the game.</h3>
            <br>
            <br>
            <h4>More information of what video to upload press the button below.</h4>
            <form method="get" action="/whatvideo#example">
                <button type="submit" style="color:black"> What to upload</button>
            </form>
        </div>
        <div class="col-lg-5" style="text-align:right;">
            <img src="static/instruction2.gif" height="500" width="700"/>
            <br>
            <br>
        </div>
    </div>
    <form method="get" action="/prediction#session">
            <button type="submit" style="color:black">Return to upload</button>
        </form>
    <div id="blank">
        </div>

    <div class="row" id="example">
        <div class="col-lg-6" style="text-align:left;">
            <h1 style="color:yellow; padding-bottom:10px">
                <u>Example of video to be uploaded</u>
            </h1>
            <br>
            <form method="get" action="/prediction#session" >
                <h3>click here to return to uploading of video</h3>
                <button type="submit" style="color:black; display: inline;">Return to upload</button>
            </form>

        </div>
        <div class="col-lg-5" style="text-align:right;">
            <img src="static/whatvideo.gif" height="300" width="500"/>

            <form method="get" action="/whatvideo#whatvideotop" >
                <button type="submit" style="color:black; display: inline;">Getting started</button>
            </form>
        </div>
    </div>
    <div id="blank2">
        </div>
</div>
{% endblock %}